// Colors
$color-primary: var(--color-primary);
$color-primary-light-1: var(--color-primary-light-1);
$color-primary-light-2: var(--color-primary-light-2);
$color-primary-dark-1: var(--color-primary-dark-1);

$color-secondary: var(--color-secondary);
$color-secondary-light-1: var(--color-secondary-light-1);
$color-secondary-light-2: var(--color-secondary-light-2);

$color-accent: var(--color-accent);
$color-accent-light-1: var(--color-accent-light-1);
$color-accent-light-2: var(--color-accent-light-2);
$color-accent-dark-1: var(--color-accent-dark-1);

$color-info: var(--color-info);
$color-info-light-1: var(--color-info-light-1);
$color-info-dark-1: var(--color-info-dark-1);

$color-gray: var(--color-gray);
$color-background: var(--color-background);
$color-text-1: var(--color-text-1);
$color-text-2: var(--color-text-2);

// Gradients
$color-mint-gradient-1: var(--color-mint-gradient-1);
$color-mint-gradient-1-light-1: var(--color-mint-gradient-1-light-1);
$color-mint-gradient-1-dark-1: var(--color-mint-gradient-1-dark-1);
$color-mint-gradient-2: var(--color-mint-gradient-2);
$color-mint-gradient-2-dark-1: var(--color-mint-gradient-2-dark-1);
$color-mint-gradient-2-light-1: var(--color-mint-gradient-2-light-1);
