@use "@src/styles/colors.scss" as colors;

:export {
  // Colors
  colorPrimary: colors.$color-primary;
  colorPrimaryLight1: colors.$color-primary-light-1;
  colorPrimaryLight2: colors.$color-primary-light-2;
  colorPrimaryDark1: colors.$color-primary-dark-1;

  colorSecondary: colors.$color-secondary;
  colorSecondaryLight1: colors.$color-secondary-light-1;
  colorSecondaryLight2: colors.$color-secondary-light-2;

  colorAccent: colors.$color-accent;
  colorAccentLight1: colors.$color-accent-light-1;
  colorAccentLight2: colors.$color-accent-light-2;
  colorAccentDark1: colors.$color-accent-dark-1;

  colorInfo: colors.$color-info;
  colorInfoLight1: colors.$color-info-light-1;
  colorInfoDark1: colors.$color-info-dark-1;

  colorGray: colors.$color-gray;
  colorBackground: colors.$color-background;
  colorText1: colors.$color-text-1;
  colorText2: colors.$color-text-2;

  // Gradients
  colorMintGradient1: colors.$color-mint-gradient-1;
  colorMintGradient1Light1: colors.$color-mint-gradient-1-light-1;
  colorMintGradient1Dark1: colors.$color-mint-gradient-1-dark-1;
  colorMintGradient2: colors.$color-mint-gradient-2;
  colorMintGradient2Dark1: colors.$color-mint-gradient-2-dark-1;
  colorMintGradient2Light1: colors.$color-mint-gradient-2-light-1;
}
