:export {
  // Colors
  colorPrimary: #86be43;
  colorPrimaryLight1: #baf86f;
  colorPrimaryLight2: #d7f3b7;
  colorPrimaryDark1: #608731;

  colorSecondary: #b6db77;
  colorSecondaryLight1: #edf5e3;
  colorSecondaryLight2: #f5f8f4;

  colorAccent: #215144;
  colorAccentLight1: #569b89;
  colorAccentLight2: #dbf5ef;
  colorAccentDark1: #122a24;

  colorInfo: #327dc4;
  colorInfoLight1: #55adff;
  colorInfoDark1: #1e4c78;

  colorGray: #808080;
  colorBackground: #fbfbfe;
  colorText1: #000000;
  colorText2: #ffffff;

  // Gradients
  colorMintGradient1: #69b540;
  colorMintGradient1Light1: #85e74f;
  colorMintGradient1Dark1: #4e8630;
  colorMintGradient2: #32baa0;
  colorMintGradient2Dark1: #207263;
  colorMintGradient2Light1: #79e4d0;
}
